img[src]{
 height: 230px; 
 padding-right:280px;
 float: right;  
}
h1{
 padding-left:500px;
 float:center;
 font-style: italic;
 color:rgb(144,12,63);
}
#titulo{
 font-style:italic;
 color:rgb( 99, 6, 124);
}
#datosPerso{
 padding-top:7px;
 padding-left:330px;
 font-size:13px;
}
#objetivo{
 font-size:14px;
 padding-right:300px;
 padding-left:300px;
}
table{
 padding-right:250px;
 padding-left:150px;
}
td{
 font-size:14px;
 width:480px;
 padding-bottom:25px;
 padding-left:120px;
}
#alinear{
 padding-bottom:90px;
}
hr{
 color:rgb(144,12,63);
}
